/*Main colours*/
/*light green = #ddffcc*/
/*Bit darker green = #bbff99*/

body {
    background-color: #ddffcc;
}

/*The title*/
h1 {
    color: #000000;
    font: bold, 48px, Calibri;
}

/*the main body and the button*/
#btnNextPage {
    background-color: #bbff99;
    font: bold, 26px, Calibri;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#btnInfo {
    background-color: #bbff99;
    font: bold, 26px, Calibri;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10%;
}


/*Css for the footer*/
#footer{
    padding-top: 25%;
}